<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Bangboo_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Bangboo_ServiceSoap1" />
        <binding name="Stock_Detail_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Stock_Detail_ServiceSoap1" />
        <binding name="Address_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Address_ServiceSoap1" />
        <binding name="BangbooSale_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BangbooSale_ServiceSoap1" />
        <binding name="BangbooSupplier_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BangbooSupplier_ServiceSoap1" />
        <binding name="BangbooSupplyDetail_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="BangbooSupplyDetail_ServiceSoap1" />
        <binding name="Customer_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Customer_ServiceSoap1" />
        <binding name="Employee_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Employee_ServiceSoap1" />
        <binding name="Inventory_Detail_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Inventory_Detail_ServiceSoap1" />
        <binding name="Inventory_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="Inventory_ServiceSoap1" />
        <binding name="SalesReceipt_ServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SalesReceipt_ServiceSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Bangboo_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Bangboo_ServiceSoap"
        contract="Bangboo_Service.Bangboo_ServiceSoap" name="Bangboo_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Stock_Detail_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Stock_Detail_ServiceSoap"
        contract="Stock_Detail_Service.Stock_Detail_ServiceSoap" name="Stock_Detail_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Address_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Address_ServiceSoap"
        contract="Address_Service.Address_ServiceSoap" name="Address_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/BangbooSale_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="BangbooSale_ServiceSoap"
        contract="BangbooSale_Service.BangbooSale_ServiceSoap" name="BangbooSale_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/BangbooSupplier_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="BangbooSupplier_ServiceSoap"
        contract="BangbooSupplier_Service.BangbooSupplier_ServiceSoap"
        name="BangbooSupplier_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/BangbooSupplyDetail_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="BangbooSupplyDetail_ServiceSoap"
        contract="BangbooSupplyDetail_Service.BangbooSupplyDetail_ServiceSoap"
        name="BangbooSupplyDetail_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Customer_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Customer_ServiceSoap"
        contract="Customer_Service.Customer_ServiceSoap" name="Customer_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Employee_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Employee_ServiceSoap"
        contract="Employee_Service.Employee_ServiceSoap" name="Employee_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Inventory_Detail_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Inventory_Detail_ServiceSoap"
        contract="Inventory_Detail_Service.Inventory_Detail_ServiceSoap"
        name="Inventory_Detail_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/Inventory_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Inventory_ServiceSoap"
        contract="Inventory_Service.Inventory_ServiceSoap" name="Inventory_ServiceSoap" />
      <endpoint address="https://localhost:44397/WebServices/Bangboos/SalesReceipt_Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="SalesReceipt_ServiceSoap"
        contract="SalesReceipt_Service.SalesReceipt_ServiceSoap" name="SalesReceipt_ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>